In [3]:
import pymysql as sql

db = sql.connect("localhost", "root", "12345","mydb")
cursor = db.cursor()
print("Connection established!!")

ModuleNotFoundError: No module named 'pymysql'

In [4]:
print(db)
print(cursor)

<pymysql.connections.Connection object at 0x055B9FB0>
<pymysql.cursors.Cursor object at 0x03CB3DD0>

In [1]:
cursor.execute("SELECT VERSION()")
data = cursor.fetchone()
print(data)

NameError: name 'cursor' is not defined

In [6]:
print(data)

print("Database version : ", data[0])

('5.5.59',)
Database version :  5.5.59

### Select Query

In [6]:
import pymysql as sql
sqlQuery = "select * from icecream"

try:
    db = sql.connect("localhost", "root", "12345","mydb")
    cursor = db.cursor()
    cursor.execute(sqlQuery)  # Execute the SQL command
    
#     print("No of rows fetched : ", cursor.rowcount)  # returns the number of rows that were affected by an execute() method.
    
#     results = cursor.fetchone()  # Fetch all the rows in a list of lists.
    results = cursor.fetchall()  # Fetch all the rows in a list of lists.
    
#     print(results)
    
    for row in results:
        for ele in row:
            print(ele, end="\t")
        print()
        
except Exception:
    print("Error: unable to fetch data")

db.close()

1	mango	candy	50
2	Choco Chips	combopacks	90
3	Buterscotch	cups	50
4	American Nuts	combopacks	120
5	Almond Chocobar	candy	70
6	Black current	cups	60
7	Choco Brownie	combopacks	130
8	Strawberry	cups	40
9	Chicoo	cups	60
10	malai kulfi	candy	60
11	Mango kulfi	candy	80
12	Strawberry	candy	90
13	Vanilla	cups	30
14	Pista	combopacks	40

### Insert Query

In [14]:
import pymysql as sql

db = sql.connect("localhost", "root", "12345","mydb")
cursor = db.cursor()

sqlQuery = "INSERT INTO student (name,marks) VALUES ('Ashish',79)"

try:
    cursor.execute(sqlQuery)  # Execute the SQL command
    db.commit()  # Commit your changes in the database
    print("Inserted data successfully!!!")
except Exception:
    print("Exception")
    db.rollback()  # Rollback in case there is any error
db.close()

Inserted data successfully!!!

### Update Query

In [15]:
import pymysql as sql

db = sql.connect("localhost", "root", "12345","mydb")
cursor = db.cursor()

sqlQuery = "UPDATE student SET  marks = 80 WHERE name = 'Ashish'"

try:
    cursor.execute(sqlQuery)  # Execute the SQL command
    db.commit()  # Commit your changes in the database
    print("Updated Successfully")
except:
    print("Exception")
    db.rollback()  # Rollback in case there is any error
db.close()

Updated Successfully

### Delete Query

In [13]:
import pymysql as sql

db = sql.connect("localhost", "root", "12345","mydb")
cursor = db.cursor()

sqlQuery = "DELETE FROM student WHERE name ='Sam'"

try:
    cursor.execute(sqlQuery)  # Execute the SQL command
    db.commit()  # Commit your changes in the database
except Exception:
    print("Error in deletion")
    db.rollback()  # Rollback in case there is any error

### Close Database

In [31]:
db.close()

In [20]:
import pymysql as sql

db = sql.connect("localhost", "root", "12345","mydb")
cursor = db.cursor()

sqlQuery = "SELECT name, category, price FROM icecream"

try:
    cursor.execute(sqlQuery)  # Execute the SQL command
    results = cursor.fetchall()
    with open("IceCreamInventory.txt", "w") as f:
        for row in results:
            s = ""
            for ele in row:
                s += "{} \t".format(ele)
            else:
                s += "\n"
            f.write(s)
    
except Exception:
    print("Error in deletion")

In [19]:
import pymysql as sql

with open("IceCreamInventory.txt", "r") as f:
    lines = f.readlines()
    
lines = list(map(lambda x: list((x.strip()).split(" \t"))  ,lines))

print(lines)

db = sql.connect("localhost", "root", "12345","mydb")
cursor = db.cursor()

for line in lines:
    sqlQuery = "INSERT INTO icecream (name,category,price) VALUES ('{}','{}',{})".format(line[0],line[1],line[2])

    try:
        cursor.execute(sqlQuery)  # Execute the SQL command
        db.commit()  # Commit your changes in the database
        print("Inserted data successfully!!!")
    except Exception:
        print("Exception")
        db.rollback()  # Rollback in case there is any error

db.close()

[['mango', 'candy', '50'], ['Choco Chips', 'combopacks', '90'], ['Buterscotch', 'cups', '50'], ['American Nuts', 'combopacks', '120'], ['Almond Chocobar', 'candy', '70'], ['Black current', 'cups', '60'], ['Choco Brownie', 'combopacks', '130'], ['Strawberry', 'cups', '40'], ['Chicoo', 'cups', '60'], ['malai kulfi', 'candy', '60'], ['Mango kulfi', 'candy', '80'], ['Strawberry', 'candy', '90'], ['Vanilla', 'cups', '30'], ['Pista', 'combopacks', '40']]
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!
Inserted data successfully!!!

In [23]:
with open("IceCreamInventory.txt", "r") as f:
    data = f.readlines()
    
lines = list(map(lambda x: list((x.strip()).split(" \t"))  ,data))

print(lines)

[['mango', 'candy', '50'], ['Choco Chips', 'combopacks', '90'], ['Buterscotch', 'cups', '50'], ['American Nuts', 'combopacks', '120'], ['Almond Chocobar', 'candy', '70'], ['Black current', 'cups', '60'], ['Choco Brownie', 'combopacks', '130'], ['Strawberry', 'cups', '40'], ['Chicoo', 'cups', '60'], ['malai kulfi', 'candy', '60'], ['Mango kulfi', 'candy', '80'], ['Strawberry', 'candy', '90'], ['Vanilla', 'cups', '30'], ['Pista', 'combopacks', '40']]