### Ex. Write a lambda function that accepts an integer (n) and returns summation of first n natural numbers. Formula to compute the summation : n(n+1) / 2.

In [1]:
func = lambda n : n * (n + 1) // 2
func(11)

66

### Ex. Filter all the even numbers from the given. numbers 
l= [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]

In [2]:
l= [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527]
print(list(filter(lambda x : x%2==0, l)))

[386, 462, 418, 344, 236, 566, 978, 328, 162, 758, 918, 412, 566, 826, 248, 866, 950, 626, 104, 58, 512, 24, 892, 894, 742, 958]

### Ex. Write a Python function that takes a list of words and returns the longest one.

In [3]:
l = ['car', 'house', 'bike']

l.sort(key = len)
print(l[-1])

house

### Ex. Write a Python program to get a new list, which contains the sum of the individual tuples in the given list.
Sort the original list based on the sum of the tuples in the list. l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 7)]

In [4]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 7)]
l1 = [sum(i) for i in l]
l.sort(key = lambda x : sum(x))
print(l)
print(l1)

[(1, 2), (2, 3), (2, 5), (4, 4), (2, 7)]
[7, 3, 8, 5, 9]

### Ex. Write a Python program to sort (ascending and descending) a dictionary by value.

In [5]:
d = {1: 6, 3: 8, 4: 5, 2: 7, 0: 9}

sorted_d = sorted(d.items(), key=lambda x : x[1])
print('Dictionary in ascending order by value : ',sorted_d)

sorted_d = sorted(d.items(), key=lambda x : x[1],reverse=True)
print('Dictionary in descending order by value : ',sorted_d)

Dictionary in ascending order by value :  [(4, 5), (1, 6), (2, 7), (3, 8), (0, 9)]
Dictionary in descending order by value :  [(0, 9), (3, 8), (2, 7), (1, 6), (4, 5)]

### Ex. Write a python program to join all elements (Mixed Data) of tuple to form a string

In [7]:
t = (1,2,3,4,'a',5.5)
"".join(map(lambda x : str(x),t))

'1234a5.5'